* {
    margin: auto;
}
body {
    color: black;
    background-color: #fefffd;
    font-family: "Times New Roman", Times, serif;
}
/*Menu*/
.navigation {
    background-color: white;
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0px;
}
.navigation ul {
    margin: 10px;
    padding: 20px;
    text-align: center;
}
.navigation li {
    display: inline;
    letter-spacing: 3px;
    padding: 15px;
}

/*Links*/
a:hover {
    text-shadow: #cbbb9a 0em 0.2em 0.8em
}
a, a:focus, a:visited, a:link {
    color: #70685b;
    text-decoration: none;
    cursor: pointer;
}
/*Title*/
.section-title {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    color: #1d1010;

}
/*Start,home*/
.home {
    max-width: 100%;
    min-height: 350px;
    background-image: url("Images/image13.jpg");
    background-attachment: fixed;
    background-position: 49% 40%;
    background-size: cover;
    margin-top: 30px;
    padding-bottom: 300px;
}
/*about-me*/
#about-me h2 {
    color: #56282D;
    padding-top: 40px;
}
.about-me-left {
    height: 650px;
    max-width: 100%;
    min-width: 100px;
    background-image: url("Images/BackgroundAboutMe.jpg");
    background-attachment: fixed;
    background-position: 50% 50%;
    background-size: cover ;
    margin-bottom: 0px;
    margin-top: 100px;
}
.about-me-right {
    border: solid 1px #cbbb9a;
    border-radius: 8px;
    background-color: rgba(255,255,255,0.8);
    width: 370px;
    height: 310px;
    top: 2px;
    position: static;
    float: right;
    padding: 20px 12px 20px 4px;
    margin: 10px 10px 30px 10px;
    max-width: 100%;
}
.about-me-right h3 {
    padding-top: 5px;
    padding-left: 20px;
    margin-right: 30px;
    text-align: justify;
    font-weight: 700;
    color: #4b3516;
}
.about-me-right p {
    padding-top: 5px;
    padding-left: 20px;
    margin-right: 35px;
    text-align: justify;
    color: #58561a;
}
/*project*/
#project {
    background-color: #F5F9E9;
    padding: 15px 0px;
    max-width: 100%;
}
.img_project {
    max-width: 100%;
    border: 2px solid #6A6262;
    border-radius: 2px;
    padding: 8px;
    height: 250px;
    width: 250px;
    margin-left: 150px;
    margin-right: 150px;
}
#project p  {
    font-family: Georgia;
    font-size: 15px;
    color: #2B2C28;
    width: 270px;
    margin-left: 150px;
    margin-top: 10px;
    text-align: justify;
}
.project-left {
    float: left;
    max-width: 100%;
}
.project-right {
    float: right;
    max-width: 100%;
}
.clear {
    clear: both;
}
/*Line*/
hr {
    border: 50px;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
/*Skills*/
#skills {
    padding-bottom: 100px;
    width: 100%;
    background-color:  #F5F9E9;
    max-width: 100%;
}
.skills-left{
    width: 100%;
}
.skills-right {
    padding: 30px 0;
    /*display: flex;*/
    flex: 0 25%;
    text-align: center;
    width: 100%;
    letter-spacing: 20px;
}
/*Contact*/
.info__container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
}
.contact-right a:link {
    color: #585858;
    text-decoration: none;
    cursor: pointer;
}
.contact-right {
    padding-top: 20px;
    font-family: "Book Antiqua", serif;
    color: #585858;
    max-width: 100%;
    flex: auto;
}
.contact-right img {
    width: 4%;
    top: 5px;
    position: relative;
}
.contact-right h4 {
    font-size: 28px;
    letter-spacing: 3px;
    color: #2f2f2f;
    text-align: center;
}
.contact-right h5 {
    font-size: 14px;
    letter-spacing: 2px;
    color: #bfb9b9;
    text-align: center;
}
.contact-right p {
    text-align: justify;
    margin-left: 35%;
}
.contact-left {
    flex: 2;
    text-align: center;
}
.picture-me {
    border: 1px solid #cbbb9a;
    border-radius: 15%;
    padding: 2px;
    width: 22%;
    height: 32%;
    box-shadow: 15px 10px 20px #bfb9b9;
}
/*Footer*/
footer{
    height: 33px;
    margin-top: 80px;
    padding-top: 25px;
    background-color: #cbbb9a;
    color: #2f2f2f;
    text-align: center;
}

