* {
    margin: auto;
}
body {
    color: black;
    background-color: #fefffd;
    font-family: 'Sorts Mill Goudy', serif;
}
p {
    font-family: 'Yrsa', serif;
    font-size: 14px;
}
h1 {
    font-size: 30px;
}
h2 {
    font-size: 25px;
}
h3 {
    font-size: 20px;
}
h4 {
    font-size: 21px;
}
h5 {
    font-size: 14px;

}
/*Menu*/
header {
    background-color: white;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    box-shadow: inset 0 -15px 8px -12px rgba(0,0,0, 0.2);
    /*width: 1180px;*/
}
.menu-icon {
    border: 0.5px solid #2f2f2f;
    background-color: rgba(147,147,129, 0.5);
    border-radius: 5px;
    display: none;
    width: 40px;
    height: 40px;
}
nav {
    text-align: right;
    padding: 5px;
}
.navigation ul {
    margin: 0px 45px;
    padding: 20px;
    text-align: center;
    list-style: none;
}
.navigation li {
    display: inline-block;
    letter-spacing: 3px;
    padding: 15px;
    font-size: 15px;
    float: left;
}
/*Links*/
a:hover {
    text-shadow: #cbbb9a 0em 0.2em 0.8em;
}
a, a:focus, a:visited, a:link {
    color: #70685b;
    text-decoration: none;
    cursor: pointer;
}
/*Title*/
.section-title {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    color: #1d1010;
}
/*Start,home*/
.home {
    width: 100%;
    height: 350px;
    background-image: url("Images/background2.jpg");
    background-attachment: fixed;
    background-position: 49% 40%;
    background-size: cover;
    margin-top: 30px;
    padding-bottom: 300px;
}
.home h1 {
     font-size: 56px;
    text-align: center;
     color: white;
     font-family: "Merienda One", sans-serif;
     letter-spacing: 2px;
     padding-top: 330px;
 }
.home h2 {
    font-size: 26px;
    text-align: center;
    color: white;
    text-shadow: 4px 4px 4px #aaa;
    font-family: "Merienda One", sans-serif;
    /*Castellar Vijaya*/
}
/*about-me*/
#about-me {
    padding-top: 20px;
    background-color: #F5F9E9;
}
.about-me-content {
    display: flex;
    flex-wrap: wrap;
}
.about-me-left {
    flex: 0.5;
    text-align: center;
}
.photo {
    max-width: 300px;
    background: white;
    padding: 10px 10px 20px 10px;
    opacity: 0.8;
    border-radius: 5px;
    border: 1px solid #c0c0c0;
    box-sizing: border-box;
    display: inline-block;
    transform: rotate(-2deg) scale(0.8);
    transition: 0.4s all ease-in-out;
    will-change: transform;
    align-items: flex-start;
    text-align: center;
}

.photo img {
    flex-basis: 100%;
    width: 100%;
}
.photo:hover {
    opacity: 1;
    transform: scale(1.0);
}
.about-me-right {
    max-width: 100%;
    padding: 80px 10px 10px 30px;
    margin: 0 10px;
    flex: 0.8;
}
.about-me-right article {
    margin-right: 100px;
    text-align: justify;
    color: black;
    font-size: 18px;

}
/*project*/
#project {
    background-color: #F5F9E9;
    padding: 15px 0px;
    max-width: 100%;

}
.project-content {
    display: flex;
    flex-wrap: wrap;
}
.img_project {
    border: 2px solid #6A6262;
    border-radius: 2px;
    padding: 8px;
    width: 37%;
    margin-left: 28%;
    margin-right: 28%;
}
#project p  {
    color: #2B2C28;
    width: 40%;
    margin-left: 28%;
    margin-right: 28%;
    margin-top: 10px;
    text-align: justify;
    font-family: 'Sorts Mill Goudy', serif;
    font-size: 16px;
}
.project-left {
    flex: 0 50%;
    margin-bottom: 3%
}
.project-right {
    flex: 0 50%;
}

/*Line*/
hr {
    border: 50px;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
/*Skills*/
#skills {
    padding-bottom: 100px;
    background-color:  #f8fbf0;
}
.skills-content {
    display: flex;
    flex-wrap: wrap;
}
.skills {
    flex: 1px;
    padding: 30px 0;
    text-align: center;
    letter-spacing: 20px;
}
.skills > p {
    padding-top: 20px;
    letter-spacing: 3px;
    color: #585858;
    font-size: 22px;
    font-family: "Londrina Shadow", sans-serif;
    font-weight: 600;
}
.skills-img {
    width: 60%;
    height: 50%;
}
/*Contact*/
.info__container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
}
.contact-right a:link {
    color: #585858;
    text-decoration: none;
    cursor: pointer;
}
.contact-right {
    font-family: Merriweather, sans-serif;
    color: #585858;
    flex: 1;
}
.contact-right img {
    width: 4%;
    top: 8px;
    position: relative;
}
.contact-right h4 {
    font-size: 25px;
    letter-spacing: 3px;
    color: #2f2f2f;
    text-align: center;
}
.contact-right h5 {
    font-size: 13px;
    letter-spacing: 2px;
    color: #bfb9b9;
    text-align: center;
}
.contact-right p {
    text-align: justify;
    padding: 0 30px;
    font-size: 16px;
}
.contact-left {
    flex: 1;
    text-align: center;
}
.picture-me {
    border: 1px solid #cbbb9a;
    border-radius: 15%;
    padding: 2px;
    width: 25%;
    box-shadow: 15px 10px 20px #bfb9b9;
}
/*Footer*/
footer{
    height: 33px;
    margin-top: 80px;
    padding-top: 25px;
    background-color: #cbbb9a;
    color: #2f2f2f;
    text-align: center;
}


/*RWD*/

/* Extra Small Screen xs*/
@media (max-width: 575px)  {
    .container.navigation {
        width: 100%;
    }
    header {
        position: fixed;
    }
    .menu-icon {
        display:inline-block;
    }
    nav ul, nav:active ul {
        display: none;
        position: absolute;
        padding: 20px;
        background: white;
        right: 0%;
        top: 60px;
        width: 100%;
        border-radius: 6px;
        border-top: #bfb9b9 solid 1px;
        box-shadow: inset 0 -15px 8px -12px rgba(0,0,0, 0.2);
    }
    nav:hover ul {
        display: block;
    }
    .navigation li {
        text-align: center;
        display: block;
        padding: 0px;
        margin: 0;
        width: 100%;
        font-size: 13px;
        letter-spacing: 0px;
    }
    .navigation ul {
        margin: -9px -9px;
        padding: 20px;
        text-align: center;
        list-style: none;
    }
    .about-me-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .about-me-right {
        margin-left: 4%;
        margin-right: 4%;
        padding: 8px 10px 10px 30px;
    }
    .about-me-right .about-me-left {
        flex: 1;
    }
    .about-me-right article {
        margin-right: 10px;
    }
    .img_project {
        width: 50%;
        margin-left: 24%;
        margin-right: 14%;
    }
    .project-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #project p  {
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
    }
    .project-left .project-right {
        flex: 1;
    }
    .skills-content {
        display: flex;
        align-items: center;
    }
    .skills {
        flex: 0 30%;
    }
    .img_project {
        margin-right: 15%;
    }
    .info__container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .contact-right img {
        width: 5%;
        top: 4px;
        position: relative;
    }
    .contact-right p {
        text-align: justify;
        padding: 0 10px;
        font-size: 14px;
    }
    .contact-right h4 {
        letter-spacing: 2px;
        text-align: center;
    }
    .contact-right h5 {
        letter-spacing: 1px;
        text-align: center;
    }
}

/*Small screen sm*/
@media screen and (min-width: 576px) and (max-width: 767px)  {
    .container.navigation {
        width: 700px;
    }
    header {
        position: fixed;
    }
    .menu-icon {
        display:inline-block;
    }
    nav ul, nav:active ul {
        display: none;
        position: absolute;
        padding: 20px;
        background: white;
        right: 0%;
        top: 63px;
        width: 100%;
        border-top: #bfb9b9 solid 1px;
        box-shadow: inset 0 -15px 8px -12px rgba(0,0,0, 0.2);
    }
    nav:hover ul {
        display: block;
    }
    nav li {
        text-align: center;
        width: 100%;
        font-size: 13px;

    }
    .navigation li {
        padding: 4px;
    }
    .navigation ul {
        margin: -12px 0px;
        padding: 20px;
        text-align: center;
        list-style: none;
    }
    .about-me-right {
        padding: 3px;
    }
    .about-me-right article {
        margin-right: 20px;
    }
    .img_project {
        width: 50%;
        margin-left: 28%;
        margin-right: 10%;
        text-align: justify;
    }
    #project p  {
        width: 85%;
        text-align: justify;
        margin-left: 10%;
        margin-right: 0%;
    }
    .project-left {
        flex: 0 50%;
        margin: 0;
    }
    .project-right {
        flex: 0 50%;
    }
    .skills-content {
        display: flex;
        align-items: center;
    }
    .skills {
        flex: 0 25%;
    }
    .picture-me {
        width: 40%;
    }
    .contact-right img {
        width: 5%;
        top: 4px;
        position: relative;
    }
    .contact-right p {
        text-align: justify;
        padding: 0 10px;
        font-size: 14px;
    }
}

/*Tablet*/
@media screen and (min-width: 768px) and (max-width: 991px){
    .container.navigation {
        width: 850px;
    }
    #project {
        max-width: 100%;

    }
    .project-content {
        display: flex;
        flex-wrap: wrap;
    }
    .img_project {
        width: 50%;
        margin-left: 20%;
        margin-right: 0%;
        text-align: justify;
    }
    #project p  {
        width: 50%;
        margin-left: 20%;
        text-align: justify;
        margin-right: 0%;
    }
    .project-left {
        flex: 0 50%;
        margin: 0;
    }
    .project-right {
        flex: 0 50%;
    }
    .contact-right img {
        width: 4%;
        top: 5px;
        position: relative;
    }
}
/*!* For desktop lg: *!*/
@media only screen and (min-width: 992px) and (max-width: 1199px){
    .container.navigation {
        width: 1080px;
    }
    #project {
        max-width: 100%;

    }
    .project-content {
        display: flex;
        flex-wrap: wrap;
    }
    .img_project {
        width: 50%;
        margin-left: 20%;
        margin-right: 0%;
        text-align: justify;
    }
    #project p  {
        width: 50%;
        margin-left: 20%;
        text-align: justify;
        margin-right: 0%;
    }
    .project-left {
        flex: 0 50%;
        margin: 0;
    }
    .project-right {
        flex: 0 50%;
    }
}
/*!* For desktop xl: *!*/
@media only screen and (min-width: 1199px){
    .container.navigation {
        width: 1350px;
    }
    #project {
        max-width: 100%;

    }
    .project-content {
        display: flex;
        flex-wrap: wrap;
    }
    .img_project {
        width: 50%;
        margin-left: 20%;
        margin-right: 0%;
        text-align: justify;
    }
    #project p  {
        width: 50%;
        margin-left: 20%;
        text-align: justify;
        margin-right: 0%;
    }
    .project-left {
        flex: 0 50%;
        margin: 0;
    }
    .project-right {
        flex: 0 50%;
    }
}
