* {
    margin: auto;
}
body {
    color: black;
    background-color: #fefffd;
    font-family: 'Sorts Mill Goudy', serif;
}
p {
    font-family: 'Yrsa', serif;
    font-size: 14px;
}
h1 {
    font-size: 30px;
}
h2 {
    font-size: 25px;
}
h3 {
    font-size: 20px;
}
h4 {
    font-size: 21px;
}
h5 {
    font-size: 14px;

}
/*menu*/
.navbar-default {
    background-color: white;
    box-shadow: inset 0 -15px 8px -12px rgba(0,0,0, 0.2);
    border: none;

}
.navbar-default .navbar-toggle {
    border-color: #ddd;
    background-color: #dcdcdc;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #c0c0c0;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #535353;
}
.navbar {
    border-radius:0;
    padding:10px 0;
    margin-bottom:0;
}
.navbar-right {
    margin-right: 40px;
}
/*Links*/
a:hover {
    text-shadow: #cbbb9a 0em 0.2em 0.8em;
}
a, a:focus, a:visited, a:link {
    color: #70685b;
    text-decoration: none;
    cursor: pointer;
}
/*Title*/
.section-title {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    color: #1d1010;
}
/*Start,home*/
.home {
    width: 100%;
    min-height:600px;
    background-image: url("Images/background2.jpg");
    background-attachment: fixed;
    background-position: 49% 40%;
    background-size: cover;
    /*margin-top: 30px;*/
    padding-bottom: 300px;
}
.home h1 {
     font-size: 56px;
    text-align: center;
     color: white;
     font-family: "Merienda One", sans-serif;
     letter-spacing: 2px;
     padding-top: 330px;
 }
.home h2 {
    font-size: 26px;
    text-align: center;
    color: white;
    text-shadow: 4px 4px 4px #aaa;
    font-family: "Merienda One", sans-serif;
    /*Castellar Vijaya*/
}
/*about-me*/
#about-me {
    padding-top: 20px;
    background-color: #F5F9E9;
}
.about-me-content {
    display: flex;
    flex-wrap: wrap;
}
.about-me-left {
    flex: 0.5;
    text-align: center;
    padding: 10px;
}
.photo {
    max-width: 300px;
    box-sizing: border-box;
    display: inline-block;
    align-items: flex-start;
    text-align: center;
    box-shadow: 10px 10px 5px #888888;
}

.photo img {
    flex-basis: 100%;
    max-width: 100%;
}
.about-me-right {
    max-width: 100%;
    padding: 80px 10px 10px 30px;
    margin: 0 10px;
    flex: 0.8;
    margin-right: 100px;
}
.about-me-right article {
    text-align: justify;
    color: black;
    font-size: 18px;

}
/*btn*/
.text-center {
    text-align: center;
}
.btn {
    margin-top: 50px;
    width: 250px;
    touch-action: manipulation;
    text-transform: uppercase;
    font-weight: 900;
}
.btn-lg {
    border-radius: 0px;
}
.btn-default.active {
    color: #333;
    background-color: #e8ecdc;
    border-color: #adadad;
}
.btn-default.active:hover {
    background-color: #cbcfbf;
    border-color: #a9a9a9;
}
/*project*/
#project {
    background-color: #F5F9E9;
    padding: 15px 0px;
    max-width: 100%;

}
.project-content {
    display: flex;
    flex-wrap: wrap;
}
.img_project {
    border: 2px solid #6A6262;
    border-radius: 2px;
    padding: 8px;
    width: 37%;
    margin-left: 28%;
    margin-right: 28%;
}
#project p  {
    color: #2B2C28;
    width: 40%;
    margin-left: 28%;
    margin-right: 28%;
    margin-top: 10px;
    text-align: justify;
    font-family: 'Sorts Mill Goudy', serif;
    font-size: 16px;
}
.project-left {
    flex: 0 50%;
    margin-bottom: 3%
}
.project-right {
    flex: 0 50%;
}

/*Line*/
hr {
    margin-top: 0px;
    border: 50px;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
/*Skills*/
#skills {
    padding-bottom: 50px;
    background-color:  #f8fbf0;
}
.skills-content {
    display: flex;
    flex-wrap: wrap;
}
.skills {
    flex: 1px;
    padding: 30px 0;
    text-align: center;
    letter-spacing: 20px;
}
.skills > p {
    padding-top: 20px;
    letter-spacing: 3px;
    color: #585858;
    font-size: 22px;
    font-family: "Londrina Shadow", sans-serif;
    font-weight: 600;
}
.skills-img {
    width: 60%;
    height: 50%;
}
/*Contact*/
.info__container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
}
.contact-right a:link {
    color: #585858;
    text-decoration: none;
    cursor: pointer;
}
.contact-right {
    font-family: Merriweather, sans-serif;
    color: #585858;
    flex: 1;
}
.contact-right img {
    width: 4%;
    top: 8px;
    position: relative;
    vertical-align: baseline;
}

.contact-right h4 {
    font-size: 25px;
    letter-spacing: 3px;
    color: #2f2f2f;
    text-align: center;
}
.contact-right h5 {
    font-size: 14px;
    letter-spacing: 2px;
    color: #979191;
    text-align: center;
    font-weight: 900;
}
.contact-right p {
    text-align: justify;
    padding: 0 30px;
    font-size: 16px;
}
.contact-left {
    flex: 1;
    text-align: center;
}
.picture-me {
    border: 1px solid #cbbb9a;
    border-radius: 15%;
    padding: 2px;
    width: 25%;
    box-shadow: 15px 10px 20px #bfb9b9;
}
/*Footer*/
footer{
    height: 60px;
    margin-top: 80px;
    padding-top: 25px;
    background-color: #cbbb9a;
    color: #2f2f2f;
    text-align: center;
}


/*RWD*/

/* Extra Small Screen xs*/
@media (max-width: 575px)  {
    .about-me-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .about-me-right {
        margin-left: 4%;
        margin-right: 4%;
        padding: 8px 10px 10px 10px;
    }
    .about-me-right .about-me-left {
        flex: 1;
    }
    .about-me-right article {
        margin-right: 10px;
        margin-top: 15px;
    }
    .img_project {
        width: 50%;
        margin-left: 25%;
        margin-right: 14%;
    }
    .project-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #project p  {
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
    }
    .project-left .project-right {
        flex: 1;
    }
    .skills-content {
        display: flex;
        align-items: center;
    }
    .skills {
        flex: 0 30%;
    }
    .img_project {
        margin-right: 15%;
    }
    .info__container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .contact-right img {
        width: 5%;
        top: 4px;
        position: relative;
    }
    .contact-right p {
        text-align: justify;
        padding: 0 10px;
        font-size: 14px;
    }
    .contact-right h4 {
        letter-spacing: 2px;
        text-align: center;
    }
    .contact-right h5 {
        letter-spacing: 1px;
        text-align: center;
    }
}

/*Small screen sm*/
@media screen and (min-width: 576px) and (max-width: 767px)  {
    .about-me-right {
        padding: 3px;
    }
    .about-me-right article {
        margin-right: 20px;
    }
    .img_project {
        width: 50%;
        margin-left: 28%;
        margin-right: 10%;
        text-align: justify;
    }
    #project p  {
        width: 85%;
        text-align: justify;
        margin-left: 10%;
        margin-right: 0%;
    }
    .project-left {
        flex: 0 50%;
        margin: 0;
    }
    .project-right {
        flex: 0 50%;
    }
    .skills-content {
        display: flex;
        align-items: center;
    }
    .skills {
        flex: 0 25%;
    }
    .picture-me {
        width: 40%;
    }
    .contact-right img {
        width: 5%;
        top: 4px;
        position: relative;
    }
    .contact-right p {
        text-align: justify;
        padding: 0 10px;
        font-size: 14px;
    }
}

/*Tablet*/
@media screen and (min-width: 768px) and (max-width: 991px){
    #project {
        max-width: 100%;

    }
    .project-content {
        display: flex;
        flex-wrap: wrap;
    }
    .img_project {
        width: 50%;
        margin-left: 20%;
        margin-right: 0%;
        text-align: justify;
    }
    #project p  {
        width: 50%;
        margin-left: 20%;
        text-align: justify;
        margin-right: 0%;
    }
    .project-left {
        flex: 0 50%;
        margin: 0;
    }
    .project-right {
        flex: 0 50%;
    }
    .contact-right img {
        width: 4%;
        top: 5px;
        position: relative;
    }
}
/*!* For desktop lg: *!*/
@media only screen and (min-width: 992px) and (max-width: 1199px){
    #project {
        max-width: 100%;

    }
    .project-content {
        display: flex;
        flex-wrap: wrap;
    }
    .img_project {
        width: 50%;
        margin-left: 20%;
        margin-right: 0%;
        text-align: justify;
    }
    #project p  {
        width: 50%;
        margin-left: 20%;
        text-align: justify;
        margin-right: 0%;
    }
    .project-left {
        flex: 0 50%;
        margin: 0;
    }
    .project-right {
        flex: 0 50%;
    }
}
/*!* For desktop xl: *!*/
@media only screen and (min-width: 1199px){
    #project {
        max-width: 100%;

    }
    .project-content {
        display: flex;
        flex-wrap: wrap;
    }
    .img_project {
        width: 50%;
        margin-left: 20%;
        margin-right: 0%;
        text-align: justify;
    }
    #project p  {
        width: 50%;
        margin-left: 20%;
        text-align: justify;
        margin-right: 0%;
    }
    .project-left {
        flex: 0 50%;
        margin: 0;
    }
    .project-right {
        flex: 0 50%;
    }
}

/*bootstrap query*/
@media (min-width: 768px) {
    .navbar-right {
        float: right !important;
        margin-right: 40px;
    }
}